/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Cabeçalho */
header {
    background-color: #222;
    color: white;
    padding: 20px 0;
}

header h1 {
    text-align: center;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff4c4c;
}

/* Seção de Produtos */
.products {
    background-color: white;
    padding: 40px 0;
}

.products h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    margin-bottom: 30px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-card h3 {
    margin: 15px 0;
    font-size: 1.8em;
}

.product-card p {
    font-size: 1.2em;
    color: #333;
}

.product-card:hover {
    background-color: #f9f9f9;
}

/* Detalhes do Produto */
.product-details {
    background-color: #fff;
    padding: 40px 0;
}

.product-details .product-image {
    width: 40%;
    float: left;
    padding: 20px;
}

.product-details .product-info {
    width: 55%;
    float: right;
    padding: 20px;
}

.product-details h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.product-details ul {
    list-style-type: none;
    margin-bottom:
